name: "openapi spec code generate "
on:
  workflow_dispatch:
    inputs:
      mainModuleBranch:
        description: |
          メインモジュールのブランチ名を指定する。
        default: "main"
        required: true
      subModuleBranch:
        description: |
            サブモジュールのブランチ名を指定する。
        default: "main"
        required: true
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.mainModuleBranch }}
          fetch-depth: 0
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
      - name: add exec permission
        run: chmod +x gradlew
      - name: update submodule
        run: |
            git submodule init
            git submodule update --init --recursive
            git submodule update --remote
      - name: confirm submodule exists
        run: ls -la .
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Generate OpenAPI Code
        run: ./gradlew build
      - name: check generate code
        run: ls build/generated